*{
    font-family: monospace;
  }
  
  
  body{
    background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(48,44,124,1) 100%);
  }
  .content-fecha{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
  }

  h1{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 10px;
  }
  
h2{
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  
}

h3{
  color: white;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

 .container{
  display: flex;
  width: 1400px;
  justify-content: center;
  margin: auto;
 }

  .page-content{
    
    display: flex;
    width: 700px;
    
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.171);
    padding: 15px 5px;
    margin: 5px;
    text-decoration: none;
    width: 175px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.button:hover{
    border: 1px solid rgba(255, 255, 255, 0.568);
    background-color: rgba(255, 255, 255, 0.041);
}

.buttonContext{
    width: 33%;
    display: flex;
    justify-content: center;
}

.content-audio{
  display: flex;
  width: 900px;
  margin: auto;
  margin-top: 40px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.185);
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.content-app{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
.img-app{
  border-radius: 20px;
  width: 155px;
  height: 70px;
}

audio{
  width: 180px;
  height: 30px;
}

.content-audio-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-audio{
  width: 150px;
  height: 100px;
}