*{
    font-family: monospace;
    color: #333333;
  }
  
  
  body{
    background-image: linear-gradient(180deg, #db77f3 0, #ba82f7 25%, #9b6ef5 50%, #7556d7 75%, #7365b9 100%);
    
  }
  .content-fecha{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
  }

  h1{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
h2{
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  
}

h3{
  color: white;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.widget{
  background-color:#8a69e3;
  padding: 10px;
  border: 1PX solid white;
  border-radius: 7px;
}
 .container{
  display: flex;
  width: 1300px;
  justify-content: center;
  margin: auto;
 }

  .page-content{
    
    display: flex;
    width: 700px;
    
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button{
    display: flex;
    justify-content: center;
    color: #575757;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.171);
    padding: 15px 5px;
    margin: 5px;
    text-decoration: none;
    width: 175px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.button:hover{
    border: 1px solid rgba(255, 255, 255, 0.911);
    background-color: rgba(255, 255, 255, 0.637);
    color: #000000c4;
}

.buttonContext{
    width: 33%;
    display: flex;
    justify-content: center;
}

.content-audio{
  display: flex;
  width: 900px;
  margin: auto;
  margin-top: 40px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.185);
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.content-app{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
.img-app{
  border-radius: 20px;
  width: 155px;
  height: 70px;
  border: 1px solid white;
  transition: border-radius 0.1s ease;
}
.img-app:hover{
  border-radius: 200px;
  border: 1px solid white;
 
}

table{
  border: 1px solid white;
  margin: auto;
  padding: 8px;
   background-color: rgba(255, 255, 255, 0.171);
}

th{
  font-size: 16px;
    color: #161669;
    padding: 10px;
}
td{
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: 75px;
}


audio{
  width: 180px;
  height: 30px;
}

.content-audio-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-audio{
  width: 150px;
  height: 100px;
}


.content-dolar{
  display: flex;
  justify-content: space-evenly;
 
  margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}